.container{
    width: 940px;
    margin: 0 auto;
}

.site-navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

.menu{
    display: flex;
    width: 485px;
    justify-content: space-between;
}

/* @font-face {
    font-family: "Wisdom Script";
    src: url("../fonts/wisdom-script-cufonfonts/Wisdom Script AJ.otf") format("otf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
} */

/* .logo{
    font-family: "Wisdom Script";
    color:#fed136;
    font-size:26px;
} */

@font-face{
    font-family: "Montserrant";
    src: url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff") format("woff");
    src: url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2") format("woff2");
    font-style: normal;
    font-display: fallback;
}

.menu__link{
    text-decoration: none;
    color:#222222;
    font-family: "Montserrant";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__item:hover .menu__link{
    color:#fed136;
}

.services-section{
    padding: 0 0 114px 0;
}

.services-section__title{
    text-align: center;
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    line-height: 70px;
}

@font-face{
    font-family: "Droid Serif";
    src: url(../fonts/droid-serif-italic/3950.ttf);
    font-style: normal;
    font-display: fallback;
}

.services-section__about{
    text-align: center;
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 16px;
    color: #9b9b9b;
    padding-bottom: 50px;
}

.flex-wrap{
    display: flex;
}

.main-subtitle{
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 36px;
    margin-top: 20px;
}

@font-face{
    font-family: "Roboto Slab";
    src: url(../fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff);
    src: url(../fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff2);
    font-style: normal;
    font-display: fallback;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortly-about-services{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 14px;
    color: #808080;
    line-height: 28px;
    text-align: center;
}

.services:before{
    content: "";
    display: block;
    width: 74px;
    height: 74px;
    border: 3px solid #fed136;
    border-radius: 50%;
}

.e-commerce:before{
    content: "";
    background-image: url(../img/basket.png);
    background-repeat: no-repeat;
    background-position: center;
}

.responsive-web:before{
    content: "";
    background-image: url(../img/laptop.png);
    background-repeat: no-repeat;
    background-position: center;
}

.web-security:before{
    content: "";
    background-image: url(../img/locked.png);
    background-repeat: no-repeat;
    background-position: center;
}

main{
    margin-top: 108px;
    margin-bottom: 100px;
    /* position: relative; */
}

.contact-us{
    margin: 0 auto;
    padding: 110px 0 114px 0;
    background-color: #222222;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 20%;
}

.form-title{
    text-align: center;
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 70px;
}

.about-form{
    text-align: center;
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 16px;
    color: #9b9b9b;
    padding-bottom: 50px;
}

.container-for-form{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 78px;
    padding-bottom: 28px;
}

.first-column{
    height: 50px;
    width: 455px;
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 14px;
    color: #bbbbbb;
    text-transform: uppercase;
}

.first-column-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-column{
    height: 200px;
    width: 455px;
    border: 0;
    border-radius: 3px;
    resize: none;
    box-sizing: border-box;
    padding: 10px 0 0 20px;
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 14px;
    color: #bbbbbb;
    text-transform: uppercase;
}

.button{
    width: 240px;
    height: 66px;
    background-color: #fed136;
    border: 0;
    border-radius: 3px;
    font-family: "Montserrant";
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
}

.button:hover {
    color: #000000;
}

.messsage-form{
    text-align: center;
}

.name:required:valid,
.e-mail:required:valid,
.message-text:valid{
    outline: 2px solid green;
}

.name:required:invalid,
.e-mail:required:invalid,
.message-text:invalid{
    outline:2px solid red;
}





